/*------------------------------------------------------------------
[Main Stylesheet]

Author:	Angelina Magidova
Version:	1.0
-------------------------------------------------------------------*/
/*-----------------------------------------------------------------
[Table of Contents]

1. COMMON
2. HEADER
3. HOME
4. SERVICES
5. STANDARTS
6. WORKS
7. PROJECTS
8. VIDEO
9. EMAIL
10. FOOTER

MEDIA
*/
/*===============================================*/
/* 1. COMMON		 						 */
/*===============================================*/

body {
    background: #fff;
    overflow-x: hidden;
}

body, p, a, div {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: auto;
}

.main_indentation {
    padding-bottom: 110px;
    padding-top: 110px;
}

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232;
    margin: auto;
}

.subtitle {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin: auto;
}

/*===============================================*/
/* 2. HEADER		 						 */
/*===============================================*/

header {
    height: 100px;
    background: none;
    border-bottom: 1px solid #A1A1A1;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.menu a {
    margin-left: 40px;
    height: 100%;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.menu a:first-child {
    margin-left: 0;
}

/*===============================================*/
/* 3. HOME	 						 */
/*===============================================*/

#home {
    background: url(./img/Rectangle.png) no-repeat;
    height: 100vh;
    max-height: 900px;
}

#home .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.home-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    width: 80%;
    margin-bottom: 50px;
}

.home-btn {
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 36px;
    cursor: pointer;
}

/*===============================================*/
/* 4.SERVICES	 						 */
/*===============================================*/

#services {
    background: #fff;
}

#services .title {
    width: 710px;
    margin-bottom: 50px;
}

#services .subtitle {
    width: 710px;
    margin-bottom: 70px;
}

.services-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.site-creation {
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.site-creation-content {
    width: 200px;
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.site-creation-content p:first-child {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 12px;
}

.site-creation-content p:last-child {
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}

.services-btn {
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 36px;
    margin-top: 65px;
}

/*===============================================*/
/* 5. STANDARTS	 						 */


#standards {
    background: #F6F6F8;
}

.standards-body {
    display: flex;
    justify-content: space-between;
}

.standards-body-left, .standards-body-right {
    width: 50%;
}

.standards-body-left p:first-child {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
    max-width: 424px;
    margin-bottom: 40px;
}

.standards-body-left p:last-of-type {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    max-width: 489px;
    margin-bottom: 30px;
}

.standards-body-right {
    display: flex;
    justify-content: flex-end;
}

.standards-body-left a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
    cursor: pointer;
}

.standards-footer {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #E0E0E0;
    padding-top: 70px;
}

.standards-footer-block div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.standards-footer-block div p {
    font-size: 36px;
    line-height: 53px;
    color: #000000;
}

.standards-footer-block p {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.standards-footer-block {
    margin-right: 100px;
}

/*===============================================*/
/* 6. WORKS		 						 */
/*===============================================*/

#works {
    background: linear-gradient(#5F12D0 50%, #fff 50%);
}

.works-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.works-title .title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    margin: 0;
    width: 540px;
    text-align: inherit;
}

.works-title .services-btn {
    margin: auto 0;
}

.works-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
}

.works-block {
    margin: 0 15px;
    max-width: 350px;
}

.works-block:first-child {
    margin-left: 0;
}

.works-block:last-child {
    margin-right: 0;
}

.works-block img {
    margin-bottom: 30px;
}

.works-block-text p:nth-child(1) {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
}

.works-block-text p:nth-child(1) span {
    color: #4985FF;
}

.works-block-text p:nth-child(2) {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-bottom: 30px;
}

.works-block-text a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}

/*===============================================*/
/* 7. PROJECTS		 						 */
/*===============================================*/

#projects {
    background: #F6F6F8;
}

#projects .container {
    text-align: center;
}

#projects .title {
    margin-bottom: 50px;
}

#projects .subtitle {
    max-width: 730px;
    margin-bottom: 70px;
}

.projects-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

/*===============================================*/
/* 7. VIDEO		 						 */
/*===============================================*/

.video {
    position: relative;
    padding: 70px 0 95px;
}

.back-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 570px;
    top: 0;
    overflow: hidden;
}

.back-container img {
    width: 100%;
    height: auto;
}

.video .title {
    color: #FFFFFF;
}

.video .subtitle {
    color: #FFFFFF;
    padding: 30px 0 70px;
}

.video-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn {
    position: absolute;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

.play-btn:hover {
    background: #ffffff38;
    box-shadow: 4px 2px 14px 5px #00000080;
}

.play-icon {
    margin-right: 20px;
}

.video-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: none;
}

/*===============================================*/
/* EMAIL	 						 */
/*===============================================*/

.email .container {
    border-top: 1px solid #e0e0e0e0;
    padding: 85px 0;
}

.email .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding-bottom: 20px;
}

.email .subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    padding-bottom: 30px;
}

.email-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}

.email-content {
    width: 490px;
    margin: auto auto 35px;
    display: flex;
    justify-content: center;
    border-radius: 33px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    position: relative;
}

.email-content input {
    background: none;
    padding: 15px 33px 13px;
    border: 1px solid #F2F2F2;
    width: 60%;
    border-radius: 33px 0 0 33px;
}

.email-content button {
    background: #4985FF;
    border: 1px solid #4985FF;
    padding: 15px 36px 13px 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 40%;
    border-radius: 0 33px 33px 0;
}

::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
}

.error {
    position: absolute;
    left: 33px;
    bottom: -20px;
    color: red;
    font-weight: 600;
    letter-spacing: 1px;
    display: none;
}

/*===============================================*/
/* FOOTER	 						 */
/*===============================================*/

footer {
    background: #F6F6F8;
    padding: 70px 0 0;
}

.column-header {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding-bottom: 35px;
}

.footer-content {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding-bottom: 70px;
}

.column {
    margin-right: 43px;
    width: 240px;
}

.footer-line-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.footer-line-container a {
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    text-decoration: none;
    cursor: pointer;
}

.footer-line-container svg {
    margin-right: 15px;
}

.sub-footer {
    padding: 30px;
    border-top: 1px solid #E0E0E0;
}

.sub-footer p {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}

/*===============================================*/
/* MEDIA	 						 */
/*===============================================*/

@media all and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

@media all and (max-width: 1100px) {
    /* SERVICES */

    .site-creation {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
    }

    .site-creation svg {
        margin-bottom: 20px;
    }

    .site-creation-content {
        text-align: center;
        margin: auto;
    }

}

@media all and (max-width: 800px) {
    /* COMMON */
    .title {
        max-width: 450px;
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .subtitle {
        max-width: 500px;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 40px;
    }

    /* SERVICES */
    .services-body {
        flex-direction: column;
    }

    .site-creation {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    .site-creation svg {
        margin: 0 20px 0 0;
    }

    .site-creation-content {
        margin: 0;
    }

}

@media all and (max-width: 600px) {
    /* COMMON */
    .title, .subtitle {
        max-width: 300px;
    }

    /* HOME */

    #home .container {
        padding: 40px 0 0 0;
        width: 100%;
        margin: 0;
    }

    .home-title {
        font-size: 30px;
        line-height: 40px;
    }

    /* SERVICES */


}

@media all and (max-width: 600px) {

}